@{
    ViewBag.Title = "Home Page";

}

    <div class="row">
        <div class="col-md-6">
            <div class="product-info">
                <img src="~/img/LOTR-by_TM.jpg" height="200" />
                <h6>"Lord of the Rings: The Fellowship of the Ring"</h6>
                <ul class="product-props">
                    <li>Price:$55.00</li>
                    <li>Artist:Tom Miatke</li>
                    <li>Title:"The Fellowship of the Ring"</li>
                    <li>Description:Screen Print</li>

                </ul>
                <button class="btn btn-success" id="buyButton">Buy</button>

            </div>


            <div id="loginToggle">
                <div>Login</div>
                <form class="popup-form">
                    <div>
                        <label>Username</label>
                        <input />
                    </div>
                    <div>
                        <label>Password</label>
                        <input type="password" />
                    </div>
                    <div>
                        <input type="checkbox" />
                        <label>Remember me</label>
                    </div>
                    <div>
                        <input type="submit" value="Login" />
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <p>This is a site for all Fantasy\Rpg to by some merch and get inspired</p>
        </div>
    </div>

